<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
        <!-- Log vers un fichier -->
        <target xsi:type="File" name="file" fileName="logs/logfile.txt"
                layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=toString}" />

        <!-- Log vers la console -->
        <target xsi:type="Console" name="console"
                layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}" />
    </targets>
    <rules>
        <!-- Log toutes les erreurs à partir de l'info dans le fichier et la console -->
        <logger name="*" minlevel="Info" writeTo="file,console" />
    </rules>
</nlog>
